h1 {
    font-family: "Work Sans", sans-serif;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.appbar{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: left;
}

.logo{
    max-width: 5rem;
    max-height: 5rem;
}

.form-card{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 3rem;
    height: 6rem;
    width: 30rem;
    border-radius: 5rem;;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
}

.form-card-symbol{
    font-family: "Work Sans", sans-serif;
    padding: 0.2rem;
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    position: relative;
    font-family: "Work Sans", sans-serif;
    background-color: #42f56f;
    padding: 0.2rem;
}

table,th,td{
    border: 1px solid black;
    font-family: "Work Sans", sans-serif;
    text-align: center;
    border-collapse: collapse;
}

th{
    font-weight: bold;
    padding: 1rem;
}

td{
    padding:0.3rem;
}