{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<div class='appbar'>
  <img src="{% static 'notes/img/cjfinance.jpg' %}" class='logo' />
  <h1>CJ FINANCE - A MELHOR PLATAFORMA PARA CHECAR OS ÚLTIMOS PREÇOS DE AÇÕES!!!</h1>
</div>
<main class = "all">
  <!-- method="post" foi removido apenas para o exemplo funcionar sem o servidor -->
  <div class = "leftside">
  <form class='form-card' method = "post";>
    {% csrf_token %}
    <h1 >Encontre valores de qualquer ativo</h1>
    <input 
    class ="form-card-symbol"      
    id="symbol" 
    type="text"
    name="symbol"
    placeholder = "Símbolo do ativo"
    ></input>
    <button class='button' type="submit">Pesquisar</button>
  </form>
  <table>
    <thead>
      <th>Símbolo</th>
      <th>Valor (USD)</th>
      <th>Data</th>
    </thead>
    <tbody>
      <td>{{note.symbol}}</td>
      <td>{{note.value}}</td>
      <td>{{note.date}}</td>
    </tbody>
  </table>
</div>
  <div class = 'rightside'>
    <h2>Últimas empresas pesquisadas:</h2>
    <table>
      <thead>
        <th>Símbolo</th>
        <th>Valor (USD)</th>
        <th>Data</th>
      </thead>
    {% for note in notes %}
      <tbody>
        <td>{{note.symbol}}</td>
        <td>{{note.value}}</td>
        <td>{{note.date}}</td>
      </tbody>    
    {% endfor %}
  </table>
</div>
{% endblock %}